<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.8/css/mdb.min.css" rel="stylesheet">

</head>

<body>

  <div class="view" style="background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-xl-6  white-text text-center text-md-left  text-center" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5 text-center">ĐỒ ÁN MẠNG MÁY TÍNH NÂNG CAO</h1>
            <hr class="hr-light">
            <h2 class="mb-1 text-center font-weight-normal">Giáo viên: LÊ NGỌC SƠN</h2>
            <hr class="hr-light">
            <div class="row d-flex justify-content-center">
              <div class="col-8">
                  <div class="embed-responsive embed-responsive-16by9">
                      <!-- <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uNUi-fM_2d8" allowfullscreen></iframe> -->
                      <!-- <iframe src="https://www.youtube.com/embed/uNUi-fM_2d8?start=68&autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
                    </div>
                  <!-- <iframe width="100%"   src="https://www.youtube.com/embed/uNUi-fM_2d8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-6  mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            <div class="card mb-1 hoverable">
              <div class="card-body p-1 view zoom hoverable">
                <div class="row p-2 ">
                  <div class="col-5 d-flex justify-content-center">
                    <img class="img-fluid z-depth-3 rounded-circle img-chat" src="/images/nghia.jpg">
                  </div>
                  <div class="col-7 d-flex justify-content-start p-2">
                    <h4 class="card-title text-center white-text font-weight-normal">1742039</br>HUỲNH TRUNG NGHĨA</h4>
                  </div>

                </div>
              </div>
            </div>
            <div class="card mb-1 hoverable">
              <div class="card-body p-1 view zoom hoverable">
                <div class="row p-2 ">
                  <div class="col-5 d-flex justify-content-center">
                    <img class="img-fluid z-depth-3 rounded-circle img-chat" src="/images/quyen.jpg">
                  </div>
                  <div class="col-7 d-flex justify-content-start p-2">
                    <h4 class="card-title text-center white-text font-weight-normal">1742052</br>ĐỖ TÙNG XUÂN QUYÊN</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-1 hoverable">
              <div class="card-body p-1 view zoom hoverable">
                <div class="row p-2 ">
                  <div class="col-5 d-flex justify-content-center">
                    <img class="img-fluid z-depth-3 rounded-circle img-chat" src="/images/van.jpg"  >
                  </div>
                  <div class="col-7 d-flex justify-content-start   p-2">
                    <h4 class="card-title text-center white-text font-weight-normal ">1742081</br>HUỲNH CÔNG VĂN</h4>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>


</body>

</html>