<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.8/css/mdb.min.css" rel="stylesheet">

</head>

<body>

  <div class="view" style="background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-xl-6 white-text text-center text-md-left  text-center" data-wow-delay="0.3s">
            <h1 class="h1-responsive font-weight-bold mt-sm-5 text-center">ĐỒ ÁN MẠNG MÁY TÍNH NÂNG CAO</h1>
            <hr class="hr-light">
            <h2 class="mb-1 text-center font-weight-normal">Giáo viên: LÊ NGỌC SƠN</h2>
            <hr class="hr-light">
            <div class="row d-flex justify-content-center">
              <div class="col-8">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/v64KOxKVLVg" allowfullscreen></iframe>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-6 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
            <div class="card mb-1 hoverable">
              <div class="card-body p-1 view zoom hoverable">
                <div class="row p-2 ">
                  <div class="col-5 d-flex justify-content-center">
                    <img class="img-fluid z-depth-3 rounded-circle img-chat" src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/13344573_2037978366426626_2217053579994054840_n.jpg?_nc_cat=0&oh=a4c0f23ca87966b4ab1104eb80da0520&oe=5C0531DA">
                  </div>
                  <div class="col-7 d-flex justify-content-start p-2">
                    <h4 class="card-title text-center white-text font-weight-normal">1742039</br>HUỲNH TRUNG NGHĨA</h4>
                  </div>

                </div>
              </div>
            </div>
            <div class="card mb-1 hoverable">
              <div class="card-body p-1 view zoom hoverable">
                <div class="row p-2 ">
                  <div class="col-5 d-flex justify-content-center">
                    <img class="img-fluid z-depth-3 rounded-circle img-chat" src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-1/25158098_1429396707190039_2251176930860647963_n.jpg?_nc_cat=0&oh=3924773d8de85e1f9b00a6b61106e97a&oe=5BC66FDF">
                  </div>
                  <div class="col-7 d-flex justify-content-start p-2">
                    <h4 class="card-title text-center white-text font-weight-normal">1742052</br>ĐỖ TÙNG XUÂN QUYÊN</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-1 hoverable">
              <div class="card-body p-1 view zoom hoverable">
                <div class="row p-2 ">
                  <div class="col-5 d-flex justify-content-center">
                    <img class="img-fluid z-depth-3 rounded-circle img-chat" src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/25995044_1300957303383933_3285885063217798722_n.jpg?_nc_cat=0&oh=687d2cb5c60e17eb131bfc55f85cb3e7&oe=5C0E8A58"  >
                  </div>
                  <div class="col-7 d-flex justify-content-start   p-2">
                    <h4 class="card-title text-center white-text font-weight-normal ">1742081</br>HUỲNH CÔNG VĂN</h4>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>


</body>

</html>